# Core Django & Server
Django==4.2.19
daphne
gunicorn
channels

# Database & Environment
dj-database-url
psycopg2-binary
python-dotenv

# Cloudinary & Media
cloudinary
django-cloudinary-storage
Pillow

# Forms & UI
django-crispy-forms
crispy-bootstrap5
crispy-tailwind
django-bootstrap5

# Text Editors
django-ckeditor
django-tinymce

# Authentication
django-allauth

# APIs & GraphQL
djangorestframework
djangorestframework-simplejwt
drf-nested-routers
graphene-django
django-cors-headers

# AI Integration
google-generativeai

# Utilities & Misc Apps
whitenoise
django-browser-reload
requests
pandas
numpy
beautifulsoup4
python-slugify
pypdf
reportlab
django-admin-honeypot
django-crontab
django-filter
django-resized